<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel = "stylesheet"
          type = "text/css"
          href = "../views/Style.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Bane NOR Byggskjema</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content"></div>
        <details class="mdl-expansion">
            <summary class="mdl-expansion__summary">
                <span class="mdl-expansion__header">Kompleksinfo</span>
            </summary>
            <div class="mdl-expansion__content">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Id">
                    <label class="mdl-textfield__label" for="Id">Id</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Linje">
                    <label class="mdl-textfield__label" for="Linje">Linje</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="Distrikt">
                    <label class="mdl-textfield__label" for="Distrikt">Distrikt</label>
                </div>
                    <input type="text" title="DistriktNavn" placeholder="Distrikt Navn">
                    <input type="text" title="Kompleks" placeholder="Kompleks">
                    <input type="text" title="KompleksNavn" placeholder="Kompleks Navn">
                    <input type="text" title="ByggnrIJBV" placeholder="Byggnr i JBV">
                    <input type="text" title="NavnILydiaJBV" placeholder="Navn i Lydia JBV">
                    <input type="text" title="Bygg" placeholder="Bygg">
                    <input type="text" title="Byggnavn" placeholder="Byggnavn">
                    <input type="text" title="Merknad" placeholder="Merknad">
            </div>
            <div class="mdl-expansion__actions">
                <button class="mdl-expansion__action">Save</button>
                <button class="mdl-expansion__action">Cancel</button>
            </div>
        </details>
        <details class="mdl-expansion">
            <summary class="mdl-expansion__summary">
                <span class="mdl-expansion__header">Kontaktpersoner</span>
            </summary>

            <div class="mdl-expansion__actions">
                <button class="mdl-expansion__action">Save</button>
                <button class="mdl-expansion__action">Cancel</button>
            </div>
        </details>
        <details class="mdl-expansion">
            <summary class="mdl-expansion__summary">
                <span class="mdl-expansion__header">Bygginfo</span>
            </summary>
            <div class="mdl-expansion__content">
                <select>
                    <option>One</option>
                    <option>two</option>
                </select>
            </div>
            <div class="mdl-expansion__actions">
                <button class="mdl-expansion__action">Save</button>
                <button class="mdl-expansion__action">Cancel</button>
            </div>
        </details>
    </main>
</div>
</body>
</html>